/*==================================================================*/
/*ROOT VARIABLES*/
/*==================================================================*/

:root {
    /*INITIAL VARIABLES*/
    /*COLORS*/
    --primary: #00539CFF;
    --white: #ffffff;
    --secondary: #EEA47FFF;
    --black: #000000;
    --orange: orange;




    --header-index: 100;
    /*HAMBURGUER VARIABLES*/
    --hamburguer-width: 24px;
    --hamburguer-height: 14px;
    --hamburguer-line-space: -8px;

}


/*SOME COMPONENT*/
/*==================================================================*/



/* MAIN STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-main {
    max-width: 600px;
    width: 100%;
    padding: 0 15px;
    margin: 100px auto 0;
}